**.o
a.out
unweighted
weighted
testRX.cu
testRZZ.cu
*.nsys-rep
**.d

.venv
*.def
*.csv
*.log
dmp.txt
vir/
MultiGPUWeighted.txt
QuEST/QuEST/
env/
free_add_async.txt
result.txt
result2.txt
result3.txt
result_swap_half.txt
report.ncu-rep
singleGPU_roofline.ncu-rep
output_swap_instead_mapping.csv
hide_malloc.txt
HyQuas/
circuit_qaoa
circuit_qaoa_hyquas